body 
	{ background-color: #FFFFFF; font-size: 14px; font-family: verdana; }
nav#navHeader
	{ background-color: #D65040; }


.form-wrapper
	{ border-radius: 7px; }

.form-wrapper label
	{ font-weight: bold; }
.errors li
	{ list-style: none; width: 100%;  }
.errors ul
	{ padding-left: 0; margin-bottom: 0; }

li.active
	{ font-weight: bold; color: #ffffff;}
.pickup_time
	{ background-color: #fcf5ed; }
.total, .submit-button
	{ margin: 10px; font-size: 140%; }
.amount
	{ padding-left: 20px; }
span.border-button
	{ border: 1px solid #888; border-radius: 7px;  padding: 4px; font-size: 110%; font-weight: bold;}

@media (max-width: 768px){
	.form-wrapper .text-right
		{ text-align: center !important; }
	.form-wrapper .btn-primary
		{ display: block; margin: 0 auto; }
}
